  <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
<div class="bgCardapioGeral">
  <div class="container marginMobile">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1 bgCardapioPagina"></div>
      <div class="col-xs-12 col-sm-5 col-md-5 bgCardapioPagina">
                  <h5>Classic Burger</h5>
<p>Venha provar um novo jeito de comer hamburguer</p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h6>CHEESE BURGER . R$ 19,00</h6>
<p>hamburger de fraldinha 130g, fatias de queijo prato e maionese artesanal.</p>
<h6>CHEESE BURGER SALADA . R$ 20,90</h6>
<p>hamburger de fraldinha 130g, fatias de queijo prato, fatias de tomate, folhas de alface e maionese artesanal.</p>
<h6>CHEESE BACON . R$ 22,90</h6>
<p>hamburger fraldinha 130g, fatias de bacon, fatias de queijo prato e maionese artesanal.</p>
<h6>CHEESE BACON SALADA . R$ 23,90</h6>
<p>hamburger fraldinha 130g, fatias de bacon, fatias de queijo prato, fatias de tomate, folhas de alface e maionese artesanal.</p>
<h6>CHICKEN SALADA . R$ 19,00</h6>
<p>fatias de peito de frango, maionese artesanal, fatias de tomate e folhas de alface.</p>
<h6>CHEESE CHICKEN SALADA . R$ 22,00</h6>
<p>fatias de peito de frango, maionese artesanal, blue cheese, fatias de tomate e folhas de alface.</p>
<h6>Pão de hamburger</h6>
<p>tradicional / pão com gergelim</p>
<h6>Pães especiais</h6>
<p>italiano / australiano / pão com cebola acréscimo de R$ 5,00</p>
<div class="margin-top-20"></div>
<h5>acompanhamentos extras para seu hamburger &amp; salada</h5>
<h6>HAMBURGER EXTRA</h6>
<p>costela . R$ 14,00</p>
<p>fraldinha . R$ 8,00</p>
<p>lombo suíno . R$ 8,00</p>
<p>filé de Frango . R$ 8,00</p>
<p>vegê . R$ 6,00</p>
<p>picanha . R$ 14,00</p>
<h6>Maionese . R$ 6,00 </h6>
<p>alho<br />
artesanal<br />
agrião<br />
hortelã<br />
rose marie</p>
<h6>Molhos</h6>
<p>pomodoro . R$ 6,00</p>
<p>pesto . R$ 6,00</p>
<p>blue cheese . R$ 6,00</p>
<p>molho tártaro . R$ 6,00</p>
<p>barbecue . R$ 9,00</p>
<h6>Outros Itens</h6>
<p>ovo . R$ 4,00</p>
<p>bacon . R$ 5,00</p>
<p>geleia de bacon . R$ 6,50</p>
<p>pepperoni . R$ 4,00</p>
<p>salada (alface e tomate) . R$ 4,00</p>
<p>cebola caramelizada . R$ 4,50</p>
<p>sour cream . R$ 4,00</p>
<p>cream cheese ou cheddar R$ 5,00</p>
        
      </div>