 <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
<div class="bgCardapioGeral">
  <div class="container marginMobile">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1 bgCardapioPagina"></div>
      <div class="col-xs-12 col-sm-5 col-md-5 bgCardapioPagina">
                  <h5>Sobremesas</h5>
                    <p>Servidos apenas na hamburgueria</p>
                    <div class="margin-top-15"></div>
                    <div class="borderWidth"></div>
                    <div class="margin-top-30"></div>
                    <h6>Petit Gâteau. R$ 19,90</h6>
                    <p>bolinho com calda e uma bola de sorvete</p>
                    <h6>ROCKET GÂTEAU . R$ 32,90</h6>
                    <p>sorvete Magnum® mergulhado em um petit gâteau, ganache, calda de framboesa e frutas vermelhas em pedaços.</p>
                    <h6>TOP BROWNIE . R$ 22,00</h6>
                    <p>brownie recheado com Nutella<sup>®</sup>, sorvete de creme (1 bola), calda de frutas vermelhas e cacau em pó.</p>
                    <h6>HONEYMOON . R$ 16,90</h6>
                    <p>naked pão de mel recheado, coberto com ganache de chocolate meio amargo e acompanhado por 1 bola de sorvete e calda de framboesa.</p>
                    <h6>Colegial . R$ 8,00</h6>
                    <p>bola de sorvete com calda</p>
                    <h6>CHURROS COM DOCE DE LEITE . R$ 20,00</h6>
        
      </div>