<div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
<div class="bgCardapioGeral">
  <div class="container marginMobile">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1 bgCardapioPagina"></div>
      <div class="col-xs-12 col-sm-5 col-md-5 bgCardapioPagina">
                  <h5>Special Burger . R$ 32,90</h5>
<p>Venha provar um novo jeito de comer hamburger</p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h6>JASON</h6>
<p>Lanche inspirado no clássico personagem de filmes de terror e que leva apenas 3 ingredientes (e é uma explosão de sabor!). Feito com pão italiano, picanha e um molho de alho especial e bemmm cremoso. É de matar!</p>
<h6>MARIA BONITA</h6>
<p>Pão italiano, maionese tradicional da casa, hamburger de lombo suíno, queijo coalho e ragu de costelinha de porco.</p>
<h6>FRANGOLINO</h6>
<p>Lanche feito com pão ciabatta, frango empanadinho, maionese tradicional, alface bem picadinha e tomate.</p>
<h6>HELLBOY</h6>
<p>lanche incrível que acompanha, hambúrguer de linguiça calabresa artesanal, maionese de alho, vinagrete, couve frita, farofa de bacon e pão italiano.</p>
<h6>FRANK</h6>
<p>pão de brioche, maionese de alho (suave), hamburguer de filé de costela, queijo prato, geleia de bacon e chips de provolone.</p>
<h6>KING KONG</h6>
<p>pão italiano, maionese de alho, 2 hamburgueres de fraldinha de 130g cada, queijo cheddar, pepperoni e pepino pickles.</p>
<h6>KIKO</h6>
<p>maionese tradicional artesanal, hambúrguer de filé de costela (180g), queijo coalho, bacon, rúcula e tomate.</p>
<h6>HALLOWEEN</h6>
<p>pão de hamburger australiano, maionese tradicional, hamburger de picanha Angus 180g, queijo cheddar, bacon e cebola caramelizada.</p>
<h6>SGT. PEPPER</h6>
<p>pão de hamburger italiano, hamburger de fraldinha 180g recheado com muçarela de búfala, alface, fatias de tomate, cream cheese e uma deliciosa geleia de pimenta (suave).</p>
<h6>THE GODFATHER (PICANHA)</h6>
<p>pão de hamburger cebola, maionese tradicional, hamburger de picanha Angus 180g, queijo, molho barbecue artesanal e fatias de tomate.</p>
<h6>THE ONE</h6>
<p>pão de hamburger italiano, hamburger de fraldinha 130g, cebolas fritas caramelizadas, cream cheese e queijo gorgonzola.</p>
<h6>OZ</h6>
<p>pão de hamburger australiano, hamburger de fraldinha 130g, cogumelo (da estação do ano) na manteiga com queijo prato e salada de folhas verdes.</p>
<h6>PULP FICTION</h6>
<p>pão de hamburger de cebola, hamburger de lombo suíno 130g, maionese artesanal de hortelã, queijo coalho e vinagrete.</p>
<h6>CAPRESE</h6>
<p>pão de hamburger italiano, hamburger de fraldinha 130g, molho de tomate artesanal, molho pesto e mussarela de búfala.</p>
<h6>VEGÊ</h6>
<p>pão de hamburger tradicional, hamburger vegetariano (soja, cogumelo da estação, cenoura e abobrinha), queijo, molho tártaro e salada.</p>
<div class="margin-top-20"></div>
<h5>acompanhamentos extras para seu hamburger &amp; salada</h5>
<h6>HAMBURGER EXTRA</h6>
<p>costela . R$ 14,00</p>
<p>fraldinha . R$ 8,00</p>
<p>lombo suíno . R$ 8,00</p>
<p>filé de Frango . R$ 8,00</p>
<p>vegê . R$ 6,00</p>
<p>picanha . R$ 14,00</p>
<h6>Maionese . R$ 6,00 </h6>
<p>alho<br />
artesanal<br />
agrião<br />
hortelã<br />
rose marie</p>
<h6>Molhos</h6>
<p>pomodoro . R$ 6,00</p>
<p>pesto . R$ 6,00</p>
<p>blue cheese . R$ 6,00</p>
<p>molho tártaro . R$ 6,00</p>
<p>barbecue . R$ 9,00</p>
<h6>Outros Itens</h6>
<p>ovo . R$ 4,00</p>
<p>bacon . R$ 5,00</p>
<p>geleia de bacon . R$ 6,50</p>
<p>pepperoni . R$ 4,00</p>
<p>salada (alface e tomate) . R$ 4,00</p>
<p>cebola caramelizada . R$ 4,50</p>
<p>sour cream . R$ 4,00</p>
<p>cream cheese ou cheddar R$ 5,00</p>
        
      </div>