 <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
<div class="bgCardapioGeral">
  <div class="container marginMobile">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1 bgCardapioPagina"></div>
      <div class="col-xs-12 col-sm-5 col-md-5 bgCardapioPagina">
                  <h5>Porções</h5>
<p><span>As melhores coisas da vida são feitas para serem compartilhadas</span></p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h6>IABADABADU . R$ 25,00</h6>
<p>nuggets de frango com batatinha alfabeto</p>
<h6>dadinho de tapioca com queijo coalho (200g) . R$ 19,00</h6>
<h6>batata frita tradicional (500g) . R$ 22,00</h6>
<h6>batata rústica frita com alecrim (500g) . R$ 26,00</h6>
<h6>batata The One (500g) . R$ 26,00</h6>
<p>fritas com queijo cheddar, parmesão e bacon picadinho</p>
<h6>Onion rings (300g) . R$ 22,00</h6>
<h6>Polenta (500g) . R$ 24,00</h6>
<h6>Mandioca Cremosa (500g) . R$ 27,00</h6>
<h6>Palitos de Muçarela (150g) . R$ 24,00</h6>
<h6>Pollo . R$ 29,90</h6>
<p>Coxa e sobrecoxa de frango desossadas empanadas</p>
        
      </div>