{% load static%}

<footer>
			<div class="bgFooter">
				<div class="container">
					<div class="row">

						<div class="margin-top-30"></div>

						<div class="hidden-xs col-sm-1 col-md-2"></div>
						<div class="col-xs-12 col-sm-10 col-md-8">
							<a href="https://www.laricaolanches.com.br/"><img src="{% static 'img/Logo_Laricao.png' %}" alt="Laricão Lanches" class="logotipo img-responsive center-block"></a>
							<div class="margin-top-40"></div>
							<p class="text-center">Laricão Lanches Delivery possui como diferencial hambúrgueres gourmet com pães artesanais (fermentação natural) tradicional, gergelim, italiano, australiano e de cebola. Além disso, todos os itens que compõem os hambúrgueres são frescos e de excelente qualidade.</p>
						
							<div class="margin-top-30"></div>
							<div class="col-xs-12 col-sm-6 col-md-6 enderecoFooter hidden-xs">
								<h6>Rua. Omilio Monteiro Soares, Curitiba, Brazil CEP 81030-001</h6>
								<div class="uppercase12"><p><span>Capital - Paranaense</span></p></div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-6 deliveryFooter hidden-xs">
								<h6>DELIVERY <a href="tel:01142922552">4292.2552</a></h6>
								<div class="text-right uppercase12"><p>Horário de Atendimento na atual fase vermelha:</p>
<p>Delivery:<br />
de segunda a domingo das 16h às 2h30<br />
com intervalos durante o dia, conforme o horário indicado.</p>
<p>&nbsp;</p>
</div>
							</div>

							<div class="visible-xs footerMobile text-center">
								<h6>Rua. Omilio Monteiro Soares, Curitiba, Brazil CEP 81030-001</h6>
								<div class="uppercase12"><p><span>Capital - Paranaense</span></p></div>

								<div class="margin-top-20"></div>
								<h6>DELIVERY <a href="tel:01142922552">4292.2552</a></h6>
								<div class="uppercase12"><p>Horário de Atendimento na atual fase vermelha:</p>
<p>Delivery:<br />
de segunda a domingo das 16h às 2h30<br />
com intervalos durante o dia, conforme o horário indicado.</p>
<p>&nbsp;</p>
</div>
							</div>

							<div class="clearfix"></div><div class="margin-top-30"></div>
							<div class="footerMobile text-center">
								<h6>HORÁRIO DE ATENDIMENTO</h6>
								<div class="uppercase12"><p>Atendimento durante a atual fase vermelha:<br />On Delivery<br /></p>
<p>de segunda a domingo das 16h às 2h30.<br />
Atenderemos com intervalos ao longo do dia, conforme horário indicado.</p>
</div>
							</div>
							
						</div>
						<div class="hidden-xs col-sm-1 col-md-2"></div>

						<div class="clearfix"></div><div class="margin-top-30"></div>
						
					</div>
				</div>
			</div>

			<div class="hidden-xs hidden-sm bgFooterMenu">
			    <div class="container">
			      <div class="row">

			      	<div class="margin-top-30"></div>

			        <div class="col-xs-12 col-sm-8 col-md-8">
				        <nav role="navigation" class="navbar navbar-default">
				          <div class="navbar-header">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-header">
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				            </button>
				            <div class="brand-promo-xs visible-xs"><a href="https://www.laricaolanches.com.br/">Laricão Lanches</a></div>

				          </div>
				          
				          <div class="collapse navbar-collapse" id="menu-header">
				            <div class="menu-theone-container"><ul class="nav navbar-nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="https://www.laricaolanches.com.br/">Laricão Lanches Delivery</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="https://www.laricaolanches.com.br/classic-burger/">Cardápio</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="https://www.laricaolanches.com.br/Servicos/">Serviços</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="https://www.laricaolanches.com.br/Fotos/">Fotos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="https://www.laricaolanches.com.br/Contato/">Contato</a></li>
</ul></div>				          </div>
				        </nav>
					</div>

			        <div class="col-xs-12 col-sm-4 col-md-4">
				        <div class="pull-right">
				        	<div class="social">
					            <a href="https://www.facebook.com/LaricaoLanchesDelivery" target="_blank"><i class="fab fa-facebook-square"></i></a>       
					            <a href="https://www.instagram.com/laricaocurita/" target="_blank"><i class="fab fa-instagram"></i></a>
					            <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" target="_top"><i class="fas fa-envelope-square"></i></a>
					        </div>
				        </div>
				    </div>

			    </div>
			</div>
		</div>

		<div class="visible-xs bgFooterMenu paddingMenuSM text-center center-block">
			<div class="social">
				<a href="https://www.facebook.com/LaricaoLanchesDelivery" target="_blank"><i class="fab fa-facebook-square"></i></a>       
			    <a href="https://www.instagram.com/laricaocurita/" target="_blank"><i class="fab fa-instagram"></i></a>
			    <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" target="_top"><i class="fas fa-envelope-square"></i></a>
			</div>
		</div>

		<div class="visible-sm bgFooterMenu paddingMenuSM text-center center-block">
			<div class="social">
				<a href="https://www.facebook.com/LaricaoLanchesDelivery" target="_blank"><i class="fab fa-facebook-square"></i></a>       
			    <a href="https://www.instagram.com/laricaocurita/" target="_blank"><i class="fab fa-instagram"></i></a>
			    <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" target="_top"><i class="fas fa-envelope-square"></i></a>
			</div>
		</div>


		</footer>


    	<!-- ======================================== JavaScript ======================================== -->
	  	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	  	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	  	<script type="text/javascript" src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
	  	<script type="text/javascript" src="http://theonehamburgueria.com.br/wp-content/themes/theone/js/theone.js"></script>
	  	<!-- ======================================== JavaScript ======================================== -->
		
<script type='text/javascript' src='http://theonehamburgueria.com.br/wp-includes/js/wp-embed.min.js?ver=5.1.8'></script>