{% load static %}
  <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
  <div class="visible-xs col-xs-12">
    <a href="https://www.laricaolanches.com.br/"><img src="{% static 'img/Logo_Laricao.png' %}" alt="Laricao Lanches Delivery" class="img-responsive aligncenter"></a>
  </div>
  <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>

  
<div class="bgTitulo">
  <div class="container">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-2"></div>
      <div class="col-xs-12 col-sm-10 col-md-8">
        <h3>Contato</h3>
      </div>
      <div class="hidden-xs col-sm-1 col-md-2"></div>

    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row">
      
      <div class="hidden-xs col-sm-1 col-md-1"></div>
      <div class="col-xs-12 col-sm-10 col-md-10">

          <article class="post">           

            <div class="conteudo">
              <div class="margin-top-60"></div>
              <div class="col-xs-12 col-sm-12 col-md-8">
<h5>Endereço</h5>
<p><span>Rua. Omilio Monteiro Soares | Curitiba | Parana</span></p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d757.1487294790143!2d-49.26807481045458!3d-25.484140159192044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce4b41705334d%3A0x122ec38be128b062!2sR.%20Omilio%20Monteiro%20Soares%2C%201787%20-%20Fanny%2C%20Curitiba%20-%20PR%2C%2081030-001!5e0!3m2!1spt-BR!2sbr!4v1617461660472!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="col-xs-12 col-sm-12 col-md-4">
<h5>Telefone</h5>
<p><a href="tel:01142922552"><span>11 4292.2552</span></a></p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h5>E-mail</h5>
<div class="contato"><span><a href="mailto:contato@ontato@laricaolanches.com.br?Subject=The%One" target="_top">laricaolanchesdeliverycurita@gmail.com</a></span></div>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h5>Facebook</h5>
<p><span>Curta a nossa página</span></p>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<div class="fb-page" data-href="https://www.facebook.com/LaricaoLanchesDelivery" data-height="400px" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
<div class="fb-xfbml-parse-ignore">
<blockquote cite="https://www.facebook.com/subgrupos"><p><a href="https://www.facebook.com/LaricaoLanchesDelivery">Laricão Lanches Delivery</a></p></blockquote>
</div>
</div>
</div>
              
                          </div><!-- the-content -->
            
          </article>

        
      
      </div>
      <div class="hidden-xs col-sm-1 col-md-1"></div>

    </div>
  </div>
</div>

<div class="margin-top-80"></div>
		<img src="http://theonehamburgueria.com.br/wp-content/themes/theone/img/separador.jpg" alt="Laricao Lanches Delivery" class="img-responsive">