{% load static %}

  <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
  <div class="visible-xs col-xs-12">
    <a href="http://localhost:8000"><img src="{% static 'img/Logo_Laricao.png' %}" alt="" class="img-responsive aligncenter"></a>
  </div>
  <div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>


  
<div class="bgTitulo">
  <div class="container">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-2"></div>
      <div class="col-xs-12 col-sm-10 col-md-8">
        <h3>Fotos</h3>
      </div>
      <div class="hidden-xs col-sm-1 col-md-2"></div>

    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row">

      <div class="margin-top-40"></div>
      
      <div class="hidden-xs col-sm-1 col-md-2"></div>
      <div class="col-xs-12 col-sm-10 col-md-8">

          <article class="post">

            <div class="">
                          </div>
                      
            <div class="conteudo">
              
<div id="sb_instagram" class="sbi sbi_col_3  sbi_width_resp" style="padding-bottom: 10px;background-color: rgb(255,255,255);width: 100%;" data-feedid="sbi_17841401051438398#21" data-res="auto" data-cols="3" data-num="21" data-shortcode-atts="{}" >
	
    <div id="sbi_images" style="padding: 5px;">
		    </div>

	<div id="sbi_load">

	
	    <span class="sbi_follow_btn">
        <a href="https://www.instagram.com/laricaocorita/"  target="_blank" rel="noopener"><svg class="svg-inline--fa fa-instagram fa-w-14" aria-hidden="true" data-fa-processed="" aria-label="Instagram" data-prefix="fab" data-icon="instagram" role="img" viewBox="0 0 448 512">
	                <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
	            </svg>Siga-nos no Instagram</a>
    </span>
	
</div>
	    <span class="sbi_resized_image_data" data-feed-id="sbi_17841401051438398#21" data-resized="[]">
	</span>
	        <div id="sbi_mod_error">
            <span>This error message is only visible to WordPress admins</span><br />
        <p><b>Error: API requests are being delayed for this account. New posts will not be retrieved.</b></p><p>There may be an issue with the Instagram access token that you are using. Your server might also be unable to connect to Instagram at this time.</p><p><b>Error: No posts found.</b><p>Make sure this account has posts available on instagram.com.</p>        </div>
        </div>


              
                          </div><!-- the-content -->
            
          </article>

        
      
      </div>
      <div class="hidden-xs col-sm-1 col-md-2"></div>

    </div>
  </div>
</div>

<div class="margin-top-80"></div>
		<img src="http://theonehamburgueria.com.br/wp-content/themes/theone/img/separador.jpg" alt="The One" class="img-responsive">