<div class="visible-xs clearfix"></div><div class="visible-xs margin-top-30"></div>
<div class="bgCardapioGeral">
  <div class="container marginMobile">
    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1 bgCardapioPagina"></div>
      <div class="col-xs-12 col-sm-5 col-md-5 bgCardapioPagina">
                  <h5>Bebidas Geladas</h5>
<div class="margin-top-15"></div>
<div class="borderWidth"></div>
<div class="margin-top-30"></div>
<h6>CALIFORNICATION . R$ 15,90</h6>
<p>suco de limão siciliano com morango </p>
<h6>DICK VIGARISTA MILKSHAKE . R$ 25,00</h6>
<p>creme, banana, caramelo, açaí e pedaços de morango</p>
<h6>PENÉLOPE CHARMOSA MILKSHAKE . R$ 25,00</h6>
<p>creme, amora, geleia de morango e pitaya</p>
<h6>SODAS ITALIANAS . R$ 12,90</h6>
<p>caldas aromáticas de frutas, água com gás e gelo</p>
<h6>CHÁ VERDE COM FRUTAS VERMELHAS . R$ 12,90</h6>
<p>amora, framboesa e morango</p>
<h6>CHÁ VERDE COM FRUTAS AMARELAS . R$ 12,90</h6>
<p>maracujá, abacaxi e pêssego</p>
<h6>SUCO DE LIMÃO COM CAPIM SANTO . R$ 9,90</h6>
<h6>LIMONADA SUÍÇA . R$ 10,90</h6>
<h6>PINK LEMONADE . R$ 16,90</h6>
<p>suco de limão siciliano e framboesa</p>
<h6>SMOOTHIES . R$ 9,90</h6>
<p>leite batido com polpa de fruta</p>
<h6>FROZEN de iogurte . R$ 12,90</h6>
<p>batido com polpa de fruta<br />
Frozen de Açaí R$ 22,00<br />
Frozen de Pitaya R$ 22,00</p>
<h6>MILKSHAKE SENSAÇÃO . R$ 22,00</h6>
<p>sorvete de morango com Ovomaltine®, calda de framboesa e Leite Ninho®.</p>
<h6>MILKSHAKE DE OVOMALTINE® . R$ 22,00</h6>
<h6>MILKSHAKE DE NUTELLA® . R$ 22,00</h6>
<h6>MILKSHAKE CAPPUCCINO. R$ 22,00</h6>
<h6>MILKSHAKE DE DOCE DE LEITE (artesanal) . R$ 22,00</h6>
<h6>MILKSHAKE . R$ 19,00</h6>
<p>morango / chocolate / creme</p>
<h6>ÁGUA GASEIFICADA . R$ 4,20</h6>
<h6>ÁGUA MINERAL NATURAL . R$ 4,00</h6>
<h6>SUCO de Laranja . R$ 6,90</h6>
<h6>SUCO de Limão . R$ 6,50</h6>
<h6>SUCOS POLPA . R$ 6,90</h6>
<h6>SUCO LATA . R$ 6,50</h6>
<p>maracujá, uva, manga e pêssego</p>
<h6>ICED TEA . R$ 6,50</h6>
<p>limão e pêssego</p>
<h6>REFRIGERANTES (lata) . R$ 5,90</h6>
<h6>H2O . R$ 6,50</h6>
<p>limão e limoneto</p>
<h6>CERVEJAS . R$ 10,00</h6>
<p>Heineken, Budwiser e Stella Artois</p>
<h6>Sangria. R$ 14,00 (taça) R$ 25,00 (JARRA)</h6>
<p>vinho tinto suave, maçã, abacaxi e soda limonada</p>
        
      </div>